.Vue-Toastification__toast {
  border-radius: 14px;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 768px) {

  .Vue-Toastification__toast {
    width: calc(100% - 24px);
    max-width: 340px;
    margin: 15px auto;
  }

}
